* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100vh;
  background: #00478f;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: bgAnim 1s ease-out 2.2s forwards; */
}

@keyframes bgAnim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.hamburgerBlock {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: 0.1s;
}

.hamburgerBlock:hover {
  background: #cbebf52d;
}

.hBlock1 {
  width: 35px;
  height: 3px;
  background: #cbebf5;
}

.hBlock2 {
  width: 35px;
  height: 3px;
  background: #cbebf5;
}

.hBlock3 {
  width: 35px;
  height: 3px;
  background: #cbebf5;
}

.editBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(20px);
  width: 90%;
  background: #cbebf5;
  z-index: 5;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  opacity: 0;
  pointer-events: none;
}

.editBlock p {
  font-weight: 500;
  margin-bottom: 3px;
  color: #00478f;
}

.editBlock div {
  width: 100%;
}

#colorInput {
  width: 100%;
  padding: 4px 5px;
  margin-top: 2px;
  margin-bottom: 5px;
}

#inputAnimTime {
  width: 100%;
  padding: 4px 5px;
  margin-top: 3px;
}

#colorInput:focus {
  outline: 1px solid #00478f;
}

.editBtns {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.makeChangeBtn {
  padding: 0.3em 1em;
  border: 2px solid #00478f;
  background: #00478f;
  color: #cbebf5;
  cursor: pointer;
  border-radius: 3px;
}

.cancelBtn {
  padding: 0.3em 1em;
  border: 2px solid #00478f;
  background: #cbebf5;
  color: #00478f;
  cursor: pointer;
  border-radius: 3px;
}

.forHover {
  width: 130px;
  height: 130px;
  display: flex;
  /* flex-direction: column;
  justify-content: space-between; */
  justify-content: center;
  align-items: center;
  perspective: 15in;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(-20deg) rotateY(35deg);
  transform-style: preserve-3d;
  animation: boxAnim 50s linear infinite;
}

.forHover:hover {
  cursor: pointer;
}

/* .forHover:hover .box1 {
  transform: translateZ(100px);
}

.forHover:hover .box2 {
  transform: translateZ(-100px);
}

.forHover:hover .box3 {
  transform: rotateY(90deg) translateZ(-100px);
}

.forHover:hover .box4 {
  transform: rotateY(-90deg) translateZ(-100px);
}

.forHover:hover .box5 {
  transform: rotateX(-90deg) translateZ(-100px);
}

.forHover:hover .box6 {
  transform: rotateX(90deg) translateZ(-100px);
} */

@keyframes boxAnim {
  0% {
    transform: rotateX(-20deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 3px solid #cbebf5;
  transform-style: preserve-3d;
}

.box1 {
  transform: translateZ(50px);
  transition: 0.3s ease-out;
  /* animation: box1Anim 0.5s ease-out 0.5s forwards,
    box1Anim2 0.5s ease-out 1.5s forwards; */
}

@keyframes box1Anim {
  0% {
    transform: translateZ(50px);
  }
  100% {
    transform: translateZ(100px);
  }
}

@keyframes box1Anim2 {
  0% {
    transform: translateZ(100px);
  }
  100% {
    transform: translateZ(50px);
  }
}

.box2 {
  transform: translateZ(-50px);
  transition: 0.3s ease-out;
  /* animation: box2Anim 0.5s ease-out 0.5s forwards,
    box2Anim2 0.5s ease-out 1.5s forwards; */
}

@keyframes box2Anim {
  0% {
    transform: translateZ(-50px);
  }
  100% {
    transform: translateZ(-100px);
  }
}

@keyframes box2Anim2 {
  0% {
    transform: translateZ(-100px);
  }
  100% {
    transform: translateZ(-50px);
  }
}

.box3 {
  transform: rotateY(90deg) translateZ(-50px);
  transition: 0.3s ease-out;

  /* animation: box3Anim 0.5s ease-out 0.5s forwards,
    box3Anim2 0.5s ease-out 1.5s forwards; */
}

@keyframes box3Anim {
  0% {
    transform: rotateY(90deg) translateZ(-50px);
  }
  100% {
    transform: rotateY(90deg) translateZ(-100px);
  }
}

@keyframes box3Anim2 {
  0% {
    transform: rotateY(90deg) translateZ(-100px);
  }
  100% {
    transform: rotateY(90deg) translateZ(-50px);
  }
}

.box4 {
  transform: rotateY(-90deg) translateZ(-50px);
  transition: 0.3s ease-out;

  /* animation: box4Anim 0.5s ease-out 0.5s forwards,
    box4Anim2 0.5s ease-out 1.5s forwards; */
}

@keyframes box4Anim {
  0% {
    transform: rotateY(-90deg) translateZ(-50px);
  }
  100% {
    transform: rotateY(-90deg) translateZ(-100px);
  }
}

@keyframes box4Anim2 {
  0% {
    transform: rotateY(-90deg) translateZ(-100px);
  }
  100% {
    transform: rotateY(-90deg) translateZ(-50px);
  }
}

.box5 {
  transform: rotateX(-90deg) translateZ(-50px);
  transition: 0.3s ease-out;

  /* animation: box5Anim 0.5s ease-out 0.5s forwards,
    box5Anim2 0.5s ease-out 1.5s forwards; */
}

@keyframes box5Anim {
  0% {
    transform: rotateX(-90deg) translateZ(-50px);
  }

  100% {
    transform: rotateX(-90deg) translateZ(-100px);
  }
}

@keyframes box5Anim2 {
  0% {
    transform: rotateX(-90deg) translateZ(-100px);
  }
  100% {
    transform: rotateX(-90deg) translateZ(-50px);
  }
}

.box6 {
  transform: rotateX(90deg) translateZ(-50px);
  transition: 0.3s ease-out;

  /* animation: box6Anim 0.5s ease-out 0.5s forwards,
    box6Anim2 0.5s ease-out 1.5s forwards; */
}

@keyframes box6Anim {
  0% {
    transform: rotateX(90deg) translateZ(-50px);
  }
  100% {
    transform: rotateX(90deg) translateZ(-100px);
  }
}

@keyframes box6Anim2 {
  0% {
    transform: rotateX(90deg) translateZ(-100px);
  }
  100% {
    transform: rotateX(90deg) translateZ(-50px);
  }
}

@keyframes editBlockOpenAnim {
  0% {
    transform: translate(-50%, -50%) translateX(20px);
    opacity: 0;
    pointer-events: none;
  }
  100% {
    transform: translate(-50%, -50%) translateX(0px);
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes editBlockCloseAnim {
  0% {
    transform: translate(-50%, -50%) translateX(0px);
    opacity: 1;
    pointer-events: all;
  }
  100% {
    transform: translate(-50%, -50%) translateX(20px);
    opacity: 0;
    pointer-events: none;
  }
}
